@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

*{
  font-family: 'Nunito', sans-serif;
} 


.App-header1 {
    background-color: #ffffff;
    min-height: 100vh;
    font-size: calc(8px + 1vmin);
    color: rgb(7, 0, 0);
}

.btn {}

.button1 {
    border-top-left-radius: 16px;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 0.50rem
        /* 12px */
    ;
    padding-bottom: 0.75rem
        /* 12px */
    ;
    color: white;
    background-color: #0061D5;

}

.button2 {
    border-top-left-radius: 16px;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 0.50rem
        /* 12px */
    ;
    padding-bottom: 0.75rem
        /* 12px */
    ;
    color: white;
    background-color: #0061D5;

}

.default {
    /* Styles for default button */
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 0.50rem
        /* 12px */
    ;
    padding-bottom: 0.75rem
        /* 12px */
    ;
    color: black;
    height: 20px;
    width: 278px;
    background-color: "rgba(204,223,247,0.12)";
    width: "557px";
    align-items: center;
    justify-content: center;
  
    /* Change color as per your preference */
    /* Add any other styles you want to apply to the default button */
}

.th {
    align-items: center;
    align-content: center;
    background-color: #0061D5;
}

@font-face {
    font-family: 'Nunito';
    src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
    /* Optionally, you can specify different font weights and styles */
}

.td {
    align-items: center;
    align-content: center;
    background-color: rgba(204, 223, 247, 0.12);
    color: #000000;
    font-weight: 400;
    font-size: "14px";
    line-height: "19.1px";
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

#tr1 {
    background-color: #0061D5;

}
#tr2 {
    background-color: #0061D5;

}

#btn1 {
    background-color: #0061D5;
    gap: "10px";
    color: #FFFFFF;
    font-weight: 700;
    font-size: "18px";
    line-height: "24.55px";
    width: "557px";
}
#btn1 :hover{
    background-color: #003779;
    gap: "10px";
    color: #FFFFFF;
    font-weight: 700;
    font-size: "18px";
    line-height: "24.55px";
    width: "557px";
}



#btn2  {
        background-color: #ffffff;
        gap: "10px";
        color: #000000;
        font-weight: 700;
        font-size: "18px";
        line-height: "24.55px";
        width: "557px";
        overflow: hidden;
}



table {
    border-collapse: collapse;
    width: 100%;
  }
  table td {
    /* border: 1px solid #00000040; */
    border-bottom: 1px solid #00000040;
  }
  table tr:first-child th {
    border-top: 0;

    
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:first-child,
  table tr th:first-child {
    
    border-left: 0;
    
  }
  table tr td:last-child,
  table tr th:last-child {
    border-right: 0;
  }

.main-container {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.no-border-table-heading{
    border: none;
}

.table-container{
    flex-direction: row;
    border-radius: 20px;
    background-color: white;
}

.table-heading{
    background-color: #0061D5;
    color: white;
    height: 59px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    border: 1px solid #00000040;
}

.table-elements{
    justify-content: center;
}

.table-body{
    background-color: #f9fbfe;
}

.table-row{
    
    height: 59px;
    text-align: center;
    border-bottom: #00000040;
}


.pagination-container{
    align-items: center;
    justify-content: center;
}



