.main_container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000d2d;
}
.left_side_container{
    display: flex;
    flex: 2;
    justify-content: space-between;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-top: 9rem;
}
.left_inner{
    width: 50%;
    margin-bottom: 1.25rem;
}
.paregraph_left{
    font-size: 2.25rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1.25rem;
}
.inner_paregrapg{
    font-size: 0.875rem;
    color: #fff;
}
.right_main_container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;
    height: 320px;
    width: 420px;
}
.auth_component_main{
    display: flex;
}
.auth_component_main{
    width: 100%;
    border-top-left-radius: 0.5rem; 
    font-weight: bold;
}
.organisation_sidebar{
    /* p-16  flex flex-col justify-evenly flex-1 */
    padding: 5rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.organisation_inner{
    /* text-2xl font-bold */
    font-size: 2.5rem;
    font-weight: bold;
}
.welcome_text{
    font-size: 0.875rem;
    margin-bottom: 50px;
}
.textfiled_1{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
}
.forget_password{
    font-size: 0.875rem;
}
.support{
    font-size: 0.875rem;
    text-align: center;
}
.ExternalAuditor{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.ExternalAuditor_inner{
    display: flex;  
    flex-direction: column;
    margin: 10px;
}
.support{
    font-size: 0.875rem; 
    text-align: center;
}