.Main-container {
    display: flex;
    background-color: blue;

    height: 100%;
    width: 100%;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }

.white-line {
    
    background-color: #00000040;
    height: 1px;
    width: 100%;
}

  

.enter-audit-set-name {
    position: relative;
    min-width: 150px;
    width: 277px;
    height: 45.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
}
.enter-audit-set-name::before {
    content: attr(data-content);
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;
    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;
    background-color: #0061D5;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 700;
}


.enter-info-name {
    position: relative;
    min-width: 150px;
    width: 95%;
    height: 140px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
}
.enter-info-name::before {
    content: attr(data-content);
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;
    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;
    background-color: #0061D5;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 700;
}

.custom-lable-row {
    height: 100%;
    width: 100%;
    
    border-radius: 6px;
    
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}




/*      */

.cusotm-one-layout {
    position: relative;
    width: 287px;
    height: 45.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
}
.cusotm-one-layout::before {
    content: attr(data-content);
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;
    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;
    background-color: #0061D5;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 700;
}



.cusotm-two-layout {
    position: relative;
    width: 287px;
    height: 45.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
}
.cusotm-two-layout::before {
    content: attr(data-content);
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;
    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;
    background-color: #0061D5;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 700;
}


.cusotm-three-layout {
    position: relative;
    width: 287px;
    height: 45.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
}
.cusotm-three-layout::before {
    content: attr(data-content);
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;
    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;
    background-color: #0061D5;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 700;
}


.cusotm-four-layout {
    position: relative;
    width: 287px;
    height: 45.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
}
.cusotm-four-layout::before {
    content: attr(data-content);
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;
    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;
    background-color: #0061D5;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 700;
}


/*                                                             */

.Change-Owner-css {
    position: relative;
    width: 287px;
    height: 50.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
}
.Change-Owner-css::before {
    content: attr(data-content);
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;
    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;
    background-color: #0061D5;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 700;
}


/* YourComponent.css or in your global stylesheet */
.chip-container {
    display: flex;
    flex-wrap: wrap;
    width: 305px;
  }
  
  .chip {
    background-color: #E0ECFA; 
    border-radius: 40px; 
    padding: 6px; 
    margin: 2px;
    font-size: 12px; 
  }
  