@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Nunito", sans-serif;
}

.heading{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    font-size: "22px";
    line-height: "30px";
    color: black;
}

.btn{
    display: flex;
    flex-direction: row;
       
}

table {
    border-collapse: collapse;
  }
  table td {
    /* border: 1px solid #00000040; */
    border-bottom: 1px solid #00000040;
  }
  table tr:first-child th {
    border-top: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:first-child,
  table tr th:first-child {
    border-left: 0;
  }
  table tr td:last-child,
  table tr th:last-child {
    border-right: 0;
  }

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.no-border-table-heading{
    border: none;
}

.table-container{
    flex-direction: row;
    border-radius: 20px;
    background-color: white;
}

.table-heading{
    background-color: #0061D5;
    color: white;
    height: 59px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    border: 1px solid #00000040;
}

.table-elements{
    justify-content: center;
}

.table-body{
    background-color: #f9fbfe;
}

.table-row{
    height: 59px;
    text-align: center;
    border-bottom: #00000040;
}

.pagination-container{
    align-items: center;
    justify-content: center;
}

.button1 {
    border-top-left-radius: 16px;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: white;
    background-color: #0061D5;
    height: "57px";
    width: "278px";
    font-size: "18px";
    font-weight: 700;
    justify-content: center;
}

.button2 {
    border-top-left-radius: 16px;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 0.75rem ;
    padding-bottom: 0.75rem;
    color: white;
    background-color: #0061D5;
    height: "57px";
    width: "278px";
    font-size: "18px";
    font-weight: 700;
    justify-content: center;
}

.default {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: black;
    font-size: "18px";
    font-weight: 700;
    background-color: rgba(118, 179, 253, 0.12);
    justify-content: center;
}


.custom-lable-row {
    height: 100%;
    width: 100%;
    
    border-radius: 6px;
    
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

/* ok this is group and audiotr css   */
/* audit group members css for dropdown css */
.AuditGroupMemebers {
    position: relative;
    width: 287px;
    height: 45.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
}
.AuditGroupMemebers::before {
    content: attr(data-content);
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;
    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;
    background-color: #0061D5;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 8px;
    font-weight: 700;
}


/* first call  

*/

.AuditGroupName {
    position: relative;
    width: 287px;
    height: 45.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
}
.AuditGroupName::before {
    content: attr(data-content);
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;
    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;
    background-color: #0061D5;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 8px;
    font-weight: 700;
}

/* third  */
.AuditGroupDescription {
    position: relative;
    width: 287px;
    height: 140px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
}
.AuditGroupDescription::before {
    content: attr(data-content);
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;
    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;
    background-color: #0061D5;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 8px;
    font-weight: 700;
}


/* 
external auditor css ofr itline 230 

*/


.ExternalAuditorName {
    position: relative;
    width: 287px;
    height: 45.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
}
.ExternalAuditorName::before {
    content: attr(data-content);
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;
    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;
    background-color: #0061D5;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 700;
}


/* second */

.ExternalEmailId {
    position: relative;
    width: 287px;
    height: 45.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
}
.ExternalEmailId::before {
    content: attr(data-content);
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;
    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;
    background-color: #0061D5;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 700;
}

/* third external auditor */

.ExternalAuditorPassowrd {
    position: relative;
    width: 287px;
    height: 45.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
}
.ExternalAuditorPassowrd::before {
    content: attr(data-content);
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;
    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;
    background-color: #0061D5;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 700;
}

/* fourth */

.ExternalOrganazationName {
    position: relative;
    width: 287px;
    height: 45.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
}
.ExternalOrganazationName::before {
    content: attr(data-content);
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;
    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;
    background-color: #0061D5;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 700;
}
