

/* this is custom layput */ 

.custom-lable-layout-container-one {
    position: relative;
    width: 287px;
    height: 50.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
    
}

.custom-lable-layout-container-one::before {
    content: attr(data-content);
    
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;

    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;

    background-color: #0061D5;

    align-items: center;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 700;
    
}

/* second container */

.custom-lable-layout-container-two {
    position: relative;
    width: 287px;
    height: 50.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
    
}

.custom-lable-layout-container-two::before {
    content: attr(data-content);
    
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;

    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;

    background-color: #0061D5;

    align-items: center;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 700;
    
}       

/* third container  */

.custom-lable-layout-container-three {
    position: relative;
    width: 287px;
    height: 50.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
    position: relative;
}

.custom-lable-layout-container-three::before {
    content: attr(data-content);
    
    position: absolute;
    top: -10px;
    margin-left: 10px;
    
    border-radius: 6px;

    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;

    background-color: #0061D5;

    align-items: center;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 700;
    
}

/* fourth  */

.custom-lable-layout-container-four {
    position: relative;
    width: 287px;
    height: 50.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
    position: relative;
}

.custom-lable-layout-container-four::before {
    content: attr(data-content);
    
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;

    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;

    background-color: #0061D5;

    align-items: center;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 700;
    border: none;
    
}


/*  */

/* fourth  */

.custom-lable-layout-container-five {
    position: relative;
    width: 287px;
    height: 50.26px;
    border: 1px solid #0061D5;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
    position: relative;
}

.custom-lable-layout-container-five::before {
    content: attr(data-content);
    
    position: absolute;
    top: -10px;
    margin-left: 10px;
    border-radius: 6px;

    width: fit-content;
    padding: 0 10px;
    height: 18.57px;
    line-height: 18.57px;

    background-color: #0061D5;

    align-items: center;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 700;
    border: none;
    
}