.main_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000d2d;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

.left_side_container {
    display: flex;
    flex: 2;
    justify-content: space-between;
    max-width: 72rem;
    margin: 2.5rem auto 0; /* Adjusted margin shorthand */
}

@media (max-width: 430px) {
    .left_side_container {
        flex-direction: column;
        align-items: flex-start;
    }
}


/*  */

.first-container{
    width: 50%;
    /* background-color: green; */
}
.second-container{
    width:50%;
    /* background-color: skyblue; */
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 430px) {
    .first-container, .second-container {
        width: 90%;
        margin: 10px;
    }
}

/*  */
.error-message{
    display: flex;
    justify-content: flex-end;
}

.left_inner {
    width: 50%;
    max-width: 50%; /* Set max-width to 50% for responsiveness */
    margin-bottom: 1.25rem;
}

.paregraph_left {
    font-size: 2.25rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

.inner_paregrapg {
    font-size: 0.875rem;
    color: #fff;
}

.right_main_container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;
    height: 430px; /* Set height to auto for dynamic height */
    /* max-width: 500px;  */
    width: 100%;
}

@media (min-width: 430px) {
    .right_main_container {
        width: 450px;
    }
}

.auth_component_main {
    display: flex;
   width: 100%;
    border-top-left-radius: 0.5rem;
    font-weight: bold;
}

.organisation_sidebar {
    padding: 2rem; /* Adjusted padding for smaller screens */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    flex: 1;
}

.organisation_inner {
    /* font-size: 1.5rem; */
    /* font-size: 28; */
    font-size: 22px;
    font-weight: bold;
}

.welcome_text {
    font-size: 0.875rem;
}

.textfiled_1 {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.forget_password {
    font-size: 0.875rem;
}

.support {
    font-size: 0.875rem;
    text-align: center;
}

.ExternalAuditor {
    padding: 2rem; /* Adjusted padding for smaller screens */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    flex: 1;
}

.ExternalAuditor_inner {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/* Add any additional CSS rules as needed */
