.main {
  width: 100%;
  display: flex;
  gap: 20px;
}

h1 {
  background-color: rgba(0, 97, 213, 1);

  border-radius: 14px 14px 0px 0px;

  color: white;
  padding: 10px 30px;
}

ul {
  list-style: none;
}

.tree summary {
  cursor: pointer;
}

details summary {
  cursor: pointer;
}
details > summary::marker {
  display: none;
}

ul li {
  position: relative;
  line-height: 2.5em;
}

ul li::before {
  position: absolute;
  /* left: -5px; */
  top: 0px;
  border-left: 2px solid rgba(0, 97, 213, 1);
  border-bottom: 2px solid rgba(0, 97, 213, 1);
  content: "";
  width: 8px;
  height: 1em;
}

ul li::after {
  position: absolute;
  /* left: -5px; */
  top: 0px;
  bottom: 0px;
  border-left: 2px solid rgba(0, 97, 213, 1);
  content: "";
  width: 8px;
  height: 100%;
}

ul li:last-child::after {
  display: none;
}

ul.tree > li::after,
ul.tree > li::before {
  display: none;
}

.align-right {
  margin-left: 30px;
}

.node-item {
  display: flex;
}

.folder {
  margin-top: 10px;
  margin-right: 10px;
  width: 21px;
  height: 16px;
}

