@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.card {
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.text-card  {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.image {
  position: absolute;
  border-radius: 10px;
  width:250px;
  height: 100px;
  box-sizing: border-box;
}