.bp-default-logo {
    display: none;
}
.bp-btn-print {
    display: none;
}

/* .bp-btn-download{
    background-color: red;
} */
/* 
download-preview {
    background-color: aqua;
} */

.bp-header {
    display: none;
    display: flex; 
    justify-content: flex-end;
    background-color: #000d2d;
    
}

/* .bp-header-container {
    display: none;
    background-color: red;
} */

.bp-header-btns button svg {
    /* display: none; */
    vertical-align: middle;
    fill: white;
}

.bp-base-header {}