@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
    list-style: none;
}

.tree summary {
    cursor: pointer;
}

.tree summary::marker {
    display: none;
}  
/* 
.tree summary::-webkit-meter-bar {
    display: none;
} */

ul li {
    position: relative;
    /* outline: 1px solid green; */
    line-height: 1em;
}

ul li::before {
    position: absolute;
    left: -25px;
    top: 0px;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    content: "";
    width: 15px;
    height: 1em;
}

ul li::after {
    position: absolute;
    left: -25px;
    top: 0px;
    bottom: 0px;
    border-left: 2px solid gray;
    content: "";
    width: 15px;
    height: 100%;
}

ul li:last-child::after{
    display: none;
}

ul.tree > li::after, ul.tree > li::before  {
    display: none;
}