.main {
    width: 100%;
    gap: 20px;
  }
  
  ul {
    list-style: none;
  }
  
  .tree summary {
    cursor: pointer;
  }
  
  details summary {
    /* display: flex; */
    align-items: center;
    cursor: pointer;
    width: 100%;
  }
  
  ul li {
    position: relative;
    line-height: 1.5em;
  }
  
  ul li::before {
    position: absolute;
    left: -5px;
    top: 0px;
    /* border-left: 2px solid rgba(0, 97, 213, 1); */
    /* border-bottom: 2px solid rgba(0, 97, 213, 1); */
    content: "";
    width: 8px;
    height: 1.1em;
  }
  
  ul li::after {
    position: absolute;
    left: -5px;
    top: 0px;
    bottom: 0px;
    /* border-left: 2px solid rgba(0, 97, 213, 1); */
    content: "";
    width: 8px;
    height: 100%;
  }
  
  ul li:last-child::after {
    display: none;
  }
  
  ul.tree > li::after,
  ul.tree > li::before {
    display: none;
  }
  
  .align-right {
    margin-left: 12px;
  }
  
  .folder {
    margin-top: 10px;
    margin-right: 10px;
    width: 21px;
    height: 16px;
  }
  /* .summary-clicked summary {
    background-color: yellow;
  } */
  /* .summary-clicked {
    background-color: yellow;
  } */
  
  .node-wrapper {
    position: relative;
  }
  
  .loader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  