@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    font-family: "Nunito", sans-serif;
}


table {
  /* border-collapse: separate !important; */
    border-collapse: collapse;
    
  }
  table td {
    /* border: 1px solid #00000040; */
    border-bottom: 1px solid #00000040;
  }
  table tr:first-child th {

    border-top: 0;
  }
  table tr:last-child td {
    
    border-bottom: 0;
  }
  table tr td:first-child,
  table tr th:first-child {
    padding-left: 10px;
    border-left: 0;
  }
  table tr td:last-child,
  table tr th:last-child {
    border-right: 0;
  }

.main-container {
  /* background-color: burlywood; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.no-border-table-heading{
    border: none;
}

.table-container{
    flex-direction: row;
    border-radius: 20px;
    background-color: white;
}

.table-heading{
    background-color: #0061D5;
    color: white;
    height: 59px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: left;
    border: 1px solid #00000040;
}

.table-elements{
    justify-content: center;
}

.table-body{
    background-color: #f9fbfe;
}

.table-row{
    height: 59px;
    text-align: left;
    border-bottom: #00000040;
}


.pagination-container{
  display: flex;
    align-items: center;
    justify-content: center;
}

/* adadadads */


.custom-lable-row {
  height: 100%;
  width: 100%;
  
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


/*  */

.UserName {
  position: relative;
  width: 287px;
  height: 45.26px;
  border: 1px solid #0061D5;
  border-radius: 6px;
  background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
}
.UserName::before {
  content: attr(data-content);
  position: absolute;
  top: -10px;
  margin-left: 10px;
  border-radius: 6px;
  width: fit-content;
  padding: 0 10px;
  height: 18.57px;
  line-height: 18.57px;
  background-color: #0061D5;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 9px;
  font-weight: 700;
}

.UserRolePage {
  position: relative;
  width: 287px;
  height: 45.26px;
  border: 1px solid #0061D5;
  border-radius: 6px;
  background: linear-gradient(0deg, rgba(204, 223, 247, 0.125), rgba(204, 223, 247, 0.125));
}
.UserRolePage::before {
  content: attr(data-content);
  position: absolute;
  top: -10px;
  margin-left: 10px;
  border-radius: 6px;
  width: fit-content;
  padding: 0 10px;
  height: 18.57px;
  line-height: 18.57px;
  background-color: #0061D5;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 9px;
  font-weight: 700;
}

/*  */

